.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("https://wallpaperbat.com/img/29992816-a-simple-dark-wallpaper.png");
  background-repeat: no-repeat;
  color: white;
}

.table {
  width: 90%;
}

.table tbody tr td {
  text-wrap: wrap;
  text-overflow: ellipsis;
  max-width: 4rem;
}
.warning-alert {
  position: fixed;
  z-index: 1;
}

.user-button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  background-image: url("https://www.freeiconspng.com/thumbs/login-icon/user-login-icon-14.png");
  background-size: contain;
  top: 5px;
  right: 6rem;
}
.htitle-text {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px blue;
}
